html,
body {
  height: 100%;

}
body {

}
.purple-parent-container {
  flex: 1 0 auto;
  display: flex;
  background-color: purple;
  height: 900px;
  width: 900px;

  border: 2px solid green;
}
.child-of-purple-container {
  display: flex;
  background-color: #000;
  margin: 74px;
  margin-top: 104px;
  height: 700px;
  width: 700px;
}
